[submodule "JWebMPCore"]
	path = JWebMPCore
	url = https://github.com/GedMarc/JWebMP-Core.git
	ignore = dirty
[submodule "JWebMPPlugins"]
	path = JWebMPPlugins
	url = https://github.com/GedMarc/JWebMP-PluginsParent.git
	ignore = dirty
[submodule "JWebMPExamples"]
	path = JWebMPExamples
	url = https://github.com/GedMarc/JWebMP-Examples-Parent.git
	ignore = dirty
[submodule "JWebMPApps"]
	path = JWebMPApps
	url = https://github.com/GedMarc/JWebMP-Apps-Parent.git
	ignore = dirty
